Flask==3.0.0
email-validator
gunicorn
pytz==2024.1
regex==2023.12.25
requests==2.31.0
rich==13.9.1
rsa==4.9
scipy==1.12.0
setuptools==69.2.0
sgmllib3k==1.0.0
six==1.16.0
smart-open==6.4.0
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
sympound==0.2.0
sympy==1.12
tempora==5.5.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.10.0
